# Database Configuration
# Format for MYSQL_URL: jdbc:mysql://<HOST>:<PORT>/<DATABASE_NAME>
MYSQL_URL=jdbc:mysql://localhost:3306/swp_database
MYSQL_USER=root
MYSQL_PASSWORD=bnmbnmbnm123.

# Note: Do not include the username and password inside the MYSQL_URL string.
